h1 {
  font-family: monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 16px;
}

.container {
  margin-bottom: 75px;
}

.results {
  display: none;
  box-sizing: border-box;
  font-family: 'Fira Mono', Consolas, 'Liberation Mono', Menlo, Monaco, Consolas, monospace;
  padding: 10px;
  background: white;
  border: 1px solid #CCC;
  position: relative;
  margin-bottom: 20px;
}
  .results span {
    font-weight: bold;
  }
  .results a {
    display: block;
    float: left;
    text-decoration: none;
    margin-top: 10px;
    background: #EEE;
    border-radius: 3px;
    padding: 5px 8px;
    border: 1px solid #E8E8E8;
    line-height: 1.0;
  }

pre a {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px 8px;
  background: #F8F8F8;
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
  border-top-left-radius: 2px;
}

/* CODE STYLE */
pre {
  line-height: 19px;
  margin-bottom: 20px;
  overflow-x: auto;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

  pre code {
    margin: 0px;
    display: block;
    background: white;
    color: #4d4d4c;
    font-family: 'Fira Mono', Consolas, 'Liberation Mono', Menlo, Monaco, Consolas, monospace;
    line-height: 1.5;
    padding: 10px;
  }

pre, pre code {
  font-size: 15px;
  letter-spacing: -1px;
}

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
pre .comment, pre .title {
  color: #8e908c;
}

pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829;
}

pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700;
}

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00;
}

pre .css .hexcolor {
  color: #3e999f;
}

pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

pre .keyword, pre .javascript .function {
  color: #8959a8;
}
